# Frontend environment configuration
# Point to backend services running locally
REACT_APP_PRODUCTS_BASE_URL=http://98.92.142.29:30081
REACT_APP_CUSTOMERS_BASE_URL=http://98.92.142.29:30082
REACT_APP_ORDER_BASE_URL=http://98.92.142.29:30083